body {
    background-color: #2f4550;
    color: #f4f4f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherInfo {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 20px auto;
    margin-bottom: 10px;
    max-width: 75%;
    padding: 0 20px;
}

.weatherInfo p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.weatherStatus {
    padding: 10px;
    padding-right: 20px;
    border-right: #f4f4f9 solid 2px;
    margin-right: 20px;
    text-align: center;
}

.tempInfo {
    padding: 10px;
}

.form-container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #fefae0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.submitButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f4f4f9;
    background: transparent;
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    align-items: center;
}

.submitButton:hover {
    transform: scale(1.05);
    background-color: #b8dbd9;
    color: #586f7c;
    font-weight: bold;
}

.inputContainer {
    position: relative;
    margin: 25px 0;
    text-align: center;
}

.cityInput {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    padding: 10px 0;
    padding-bottom: 5px;
    margin: 0 auto;
    border-bottom: #fefae0 1px solid;
    color: #fefae0;
    width: 75%;
    outline: none;
    text-align: center;
}

.inputLabel {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    color: #bcb8a4;
    pointer-events: none;
    transition: transform 0.3s ease;
    text-align: center;
}

.cityInput:focus,
.cityInput:hover {
    border-bottom-color: #dda15e;
}

.cityInput:hover+.inputLabel,
.cityInput:focus+.inputLabel,
.cityInput:not(:placeholder-shown)+.inputLabel {
    transform: translateY(-25px) scale(0.8);
    color: #dda15e;
}

.flex-container {
    margin: 0 auto;
}